@import url('https://fonts.cdnfonts.com/css/ostrich-sans-black');
@import url('https://fonts.cdnfonts.com/css/ostrich-sans-2');            

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Ostrich Sans Black", sans-serif;
}

.linkedin :hover{
  transition: 0.3s;
  color: #0077B7;
}

.github :hover{
  transition: 0.3s;
  color: #3a4753;
}

.btnDown{
  transition: 1s;
}

@keyframes showButton {
  0% {
    right: -80px;
  }

  100%{
    right: 0;
  }
}

@keyframes hideButton {
  0% {
    right: 0;
  }

  100%{
    right: -80px;
  }
}

.showBtn {
  animation-name: showButton;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.hideBtn {
  animation-name: hideButton;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes expShow {
  0%{
    position: relative;
    top: 100px;
    filter: opacity(0);
  }

  100% {
    position: relative;
    top: 0;
    filter: opacity(1);
  }
}

.exp-show{
  animation-name: expShow;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

@keyframes toTechnologies {
  0%{
    position: relative;
    top: -4px;
  }

  100%{
    position: relative;
    top: 4px
  }
}

.to-technologies {
  animation-name: toTechnologies;
  animation-duration: 1.3s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

@keyframes titleAnimationRight {
  0% {
    position: relative;
    right: 120px;
    filter: opacity(0);
  }

  100% {
    position: relative;
    right: 0px;
    filter: opacity(1);
  }
}

.title-animation-right {
  animation-name: titleAnimationRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes titleAnimationLeft {
  0% {
    position: relative;
    left: 120px;
    filter: opacity(0);
  }

  100% {
    position: relative;
    left: 0px;
    filter: opacity(1);
  }
}

.title-animation-left {
  animation-name: titleAnimationLeft;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/*=================TECHNOLOGIES*/

.primary {
  animation: 12s primary infinite linear;
}
/*add later
.techAnimation:hover .primary {
  animation-play-state: paused;
}
*/
@keyframes primary {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}